.header{
    background-color: #529471;
}
/* #ecfafb
#81cbc8
#4aa6b5
#d6c481 */

.login-wrap{
    background: linear-gradient(#66bfbf, #de88a5, 45deg);
}
.plugins-tips{
    background: #f2f2f2;
}
.plugins-tips a{
    color: #529471;
}
.el-upload--text em {
    color: #529471;
}
.pure-button{
    background: #529471;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #529471 !important;
    border-color: #529471 !important;
}
.tags-li.active {
    border: 1px solid #529471;
    background-color: #529471;
}
.collapse-btn:hover{
    background: #529471;
}